<!DOCTYPE html>
<html>
    
    <head>
        <title>Stock Bobba</title>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1">

        <style>

            body{
                background-color: lightslategray;
            }
            img{
                float: left;
                max-width: 12.5%;
                max-height: 12.5%;
            }

            h2{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id = "Header"><img src = "{{  url_for('static', filename = 'logo.png')}}" alt="Logo"></div><br><br><br><br><br><br>
        <div id = "data">
        <h2>The predicted stock price is:</h2>
        </div>
        
    <h2>{{price}}</h2>  
    </body>
    
</html>
