<!DOCTYPE html>
<html>
    
    <head>
        <title>Stock Bobba</title>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{{  url_for('static', filename = 'Company logo.ico')}}">
        <style>

            body{
                background-color: lightseagreen;
            }
            img{
                float: left;
                max-width: 6.25%;
                max-height: 6.25%;
            }

            h2{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id = "Header"><img src = "{{  url_for('static', filename = 'Company logo.png')}}" alt="Logo"></div><br><br><br><br><br><br>
        <div id = "data">
        <h2>The predicted stock price is:</h2>
        </div>
        
    <h2>{{price}}</h2>  
    </body>
    
</html>